.main-wrapper{
    background-color: #FFFAFA;
    color: #000000;
    width: 90vw;
    height: 90vh;
    max-width: var(--wrapper-width, 1440px);
    margin: 12px auto 15px;
    padding-bottom: 45px;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    align-items: start;
    flex-direction: column;

}
.main-wrapper__section-admin-edit{
    margin: 0px 135px 10px 135px;
    padding-top: 25px;
    width: -webkit-fill-available;;
    /* display: flex;
    flex-direction: column;
    gap: 25px; */
    height: auto;
}
.admin__form-edit{
    width: 100%;
    height: 160px;
}
.admin__tabs {
    width: 100%;
    height: auto;
    position: relative;
}
.tabs__tab, .tabs__title {
    display: inline-block;
}
.tabs__tab input[type="radio"] { display: none; }
.tabs__title {
    background: #F3F3F3;
    padding: 5px 10px;
    border: 1px solid #666;
    border-bottom: none;
    width: 110px;
}
/* .tabs__tab:first-child .tabs__title{
    border-radius: 10px 0 0 0 ;
} */
.tabs__tab:last-child .tabs__title{
    border-radius: 10px 10px 0 0 ;
}
.tabs__input-sections{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.tabs__content {
    position: absolute;
    border: 1px solid #7F7C7C; 
    padding: 10px; 
    left: 0;
    border-radius: 0 10px 10px 10px;
    width: auto;
    display: none;
}
.tabs__tab :checked + .tabs__title {
    position: relative;
    background: #fff;
    top: 1px;
    z-index: 1;
}
.tabs__tab :checked ~ .tabs__content {
    width: 100%;
    height: 125px;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 10px;
}
.tabs__input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    font-size: 24px;
    height: 40px;
}
input{
    width: 450px;
    height: 35px;
    border-radius: 20px;
    background-color: #DFDFDF;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
}
.tabs__input-span{
    height: min-content;
}
.tabs__input-group input{
    width: 200px;
}
.tabs__input-login input{
    width: 200px;
}
.tabs__input-password input{
    width: 200px;
}
.tabs__input-userId input{
    /* display: none; */
}
.tabs__input-groupId input{
    /* display: none; */
}
.form-register__button-generate, .admin-list__button-edit, .admin-list__button-delete{
    width: 32px;
    height: 32px;
    background-image: url("/img/button_generate.png");
    background-size: cover
}
.admin-list__button-edit{
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
    background-image: url("/img/edit-svgrepo-com.svg");
}
.admin-list__button-delete{
    background-image: url("/img/button_delete.svg");
}
.admin-form__submit-button{
    width: 150px;
    height: 35px;
    background-color: #212529;
    font-size: 20px;
    color: #FFFFFF;
    border-radius: 20px;
}
.tabs__input-group {
    position: relative; /* Добавляем для корректного позиционирования дропдауна */
}
.group-dropdown {
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
    min-width: 200px;
}

.group-dropdown-item {
    padding: 8px 12px;
    cursor: pointer;
    transition: background 0.2s;
}

.group-dropdown-item:hover {
    background: #f5f5f5;
}

.profile-tooltip__button-chevron,
.group-dropdown-btn {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

.profile-tooltip__button-add-group{
    width: 45px;
    height: 45px;
    background-image: url("/img/button_addgroup.svg");
    background-size: cover
}
.profile-tooltip__button-delete-group{
    width: 31px;
    height: 31px;
    background-image: url("/img/button_delete.svg");
    background-size: cover
}
.userinfo{
    width:fit-content;
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 125px;
    padding: 10px;
    align-items: center;
    gap: 10px;
    border: 1px solid #7F7C7C;
    border-radius: 15px;
    
}
.userinfo__img-user{
    height: 160px;
    width: auto;
    border-radius: 50%;
    overflow: hidden;
    width: auto;
}
.userinfo__username{
    font-size: 32px;
}
.userinfo__user-email{
    font-weight: lighter;
    font-size: 16px;  
}
.userinfo__user-role{
    font-weight: lighter;
    font-size: 16px;
}
.tasklist{
    margin-top: 10px;
}
.tasklist__header{
    font-size: 32px;
}
.tasklist__content{
    height: 90%; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    gap: 10px;
}
.tasklist_task-button{
    width: 300px;
    height: max-content;
    color: #000000;
    border: 1px solid #7F7C7C;
    border-radius: 15px;
    font-size: 32px;
    border-radius: 10px;
    margin-top: 20px;
    padding: 0 10px 0 10px;
    overflow: hidden;
    overflow-wrap: break-word;
}
.main-wrapper__section-admin-list{
    display: flex;
    width: -webkit-fill-available;
    flex-direction: column;
    gap: 30px;
    margin: 10px 125px 10px 125px;
    padding: 10px;
}
.given-tasks-table__header{
    font-size: 32px;
}
.section-admin-list__content{
    overflow: auto;
    height: 350px;
    font-weight: 350;
    font-size: 24px;
    scrollbar-width:thin;
    scrollbar-color: #7B70EE #D9D9D9;
}
.section-admin-list__table {
	width: 100%;
	border: none;
	border-collapse: separate;
}
.section-admin-list__checkbox{
    width: 28px;
    height: 35px;
}
.section-admin-list__group-name{
    height: 20px;
}
.section-admin-list__table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #EDEDED;
	font-size: 24px;
	border-top: 1px solid #ddd;
}
.section-admin-list__table tr th:first-child, .section-admin-list__table tr td:first-child {
	border-left: 1px solid #ddd;
    /* display: flex; */
    padding: 10px 15px;
    align-items: center;
    font-size: 24px;
    vertical-align: middle;
}
.section-admin-list__table tr th:last-child, .section-admin-list__table tr td:last-child {
	border-right: 1px solid #ddd;
}
.section-admin-list__table thead tr th:first-child {
	border-radius: 10px 0 0 0;
}
.section-admin-list__table thead tr th:last-child {
	border-radius: 0 10px 0 0;
}
.section-admin-list__table tbody td {
	text-align: left;
	border: none;
	padding: 10px 15px;
	font-size: 24px;
	vertical-align: middle;
}
/* .section-admin-list__table tbody tr:nth-child(even) {
	background: #F8F8F8;
} */
.section-admin-list__table tbody tr:last-child td{
	border-bottom: 1px solid #ddd;
}
.section-admin-list__table tbody tr:last-child td:first-child {
	border-radius: 0 0 0 10px;
}
.section-admin-list__table tbody tr:last-child td:last-child {
	border-radius: 0 0 10px 0;
}
thead{
    position: sticky;
    top: 0;
}