.header-wrapper{
    display: flex;
    max-width: var(--wrapper-width, 1440px);
    width: 90%;
    background-color: #FFFAFA;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-radius: 20px 20px 0px 0px;
}
.profile-logo{
    width: 100%;
    display: flex;
    justify-content: left;
    gap: 10px;
    padding: 10px 0 10px 125px;
}
.profile-logo__sys-img{
    width: 100px;
    height: 100px;
}
.profile-logo__sys-name{
    color: #000000;
    height: 100px;
    width: auto;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}
.profile-tooltip{
    display: flex;
    justify-content: right;
    gap: 15px;
    padding-right: 16px;
}
.profile-tooltip__img-bell{
    width: 30px;
}
/* img{
    border-radius: 50%;
    overflow: hidden;
    width: auto;
} */
.profile-tooltip__img-user{
    height: 40px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    width: auto;
}
.profile-tooltip__menu{
    margin: auto;
    line-height: 25px;
    display: flex;
    gap: 15px;
}
.profile-tooltip_to-profile-href{
    position: absolute;
    width: 100px;
    height: 50px;
}
.profile-tooltip_username{
    display: inline-block;
    width: max-content;
    font-size: 16px;
    border-width: bold;
}
.profile-tooltip_user-role{
    font-size: 14px;
    font-weight: lighter;
}
.profile-tooltip__dropdown{
    width: 40px;
    position: relative;
    display: inline-block;
}
.profile-tooltip__button-chevron{
    width: 40px;
    height: 40px;
    background-image: url("/img/Chevron_Down.svg");
    background-size: cover
}
.profile-tooltip__dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 55px;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 50px;
    left: -4px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}
.profile-tooltip__dropdown-button, .profile-tooltip__dropdown-button:hover{
    width: 40px;
    height: 40px;
    display: block;
    box-shadow: none;
}
.button_settings{
    background-image: url(/img/button_settings.svg);
    background-size:contain ;
}
.button_logout{
    background-image: url(/img/button_logout.svg);
    background-size:contain ;
}
.profile-tooltip__dropdown-content a:hover {
    background-color: #f1f1f1;
}
.profile-tooltip__dropdown:hover .profile-tooltip__dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 15px;
    opacity: 1;
}
.main-wrapper{
    background-color: #FFFAFA;
    color: #000000;
    width: 90vw;
    height: auto;
    max-width: var(--wrapper-width, 1440px);
    margin: 12px auto 15px;
    padding-bottom: 45px;
    border-radius: 0px 0px 20px 20px;

}
.main-wrapper__section-userinfo-tasklist{
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    height: 290px;
}
.userinfo{
    width:fit-content;
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 125px;
    padding: 10px;
    align-items: center;
    gap: 10px;
    border: 1px solid #7F7C7C;
    border-radius: 15px;
    
}
.userinfo__img-user{
    height: 160px;
    width: auto;
    border-radius: 50%;
    overflow: hidden;
    width: auto;
}
.userinfo__username{
    font-size: 32px;
}
.userinfo__user-email{
    font-weight: lighter;
    font-size: 16px;  
}
.userinfo__user-role{
    font-weight: lighter;
    font-size: 16px;
}
.tasklist{
    margin-top: 10px;
}
.tasklist__header{
    font-size: 32px;
}
.tasklist__content{
    height: 90%; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    gap: 10px;
}
.tasklist_task-button{
    width: 300px;
    height: max-content;
    color: #000000;
    border: 1px solid #7F7C7C;
    border-radius: 15px;
    font-size: 32px;
    border-radius: 10px;
    margin-top: 20px;
    padding: 0 10px 0 10px;
    overflow: hidden;
    overflow-wrap: break-word;
}
.main-wrapper__section-given-tasks-table{
    display: flex;
    width: -webkit-fill-available;
    flex-direction: column;
    gap: 30px;
    margin: 10px 125px 10px 125px;
    padding: 10px;
}
.given-tasks-table__header{
    font-size: 32px;
}
.given-tasks-table__content{
    overflow: auto;
    height: 350px;
    font-weight: 350;
    font-size: 24px;
    scrollbar-width:thin;
    scrollbar-color: #7B70EE #D9D9D9;
}
.given-tasks-table__table {
	width: 100%;
	border: none;
	border-collapse: separate;
}
.given-tasks-table__table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #EDEDED;
	font-size: 24px;
	border-top: 1px solid #ddd;
}
.given-tasks-table__table tr th:first-child, .given-tasks-table__table tr td:first-child {
	border-left: 1px solid #ddd;
}
.given-tasks-table__table tr th:last-child, .given-tasks-table__table tr td:last-child {
	border-right: 1px solid #ddd;
}
.given-tasks-table__table thead tr th:first-child {
	border-radius: 10px 0 0 0;
}
.given-tasks-table__table thead tr th:last-child {
	border-radius: 0 10px 0 0;
}
.given-tasks-table__table tbody td {
	text-align: left;
	border: none;
	padding: 10px 15px;
	font-size: 24px;
	vertical-align: top;
}
/* .given-tasks-table__table tbody tr:nth-child(even) {
	background: #F8F8F8;
} */
.given-tasks-table__table tbody tr:last-child td{
	border-bottom: 1px solid #ddd;
}
.given-tasks-table__table tbody tr:last-child td:first-child {
	border-radius: 0 0 0 10px;
}
.given-tasks-table__table tbody tr:last-child td:last-child {
	border-radius: 0 0 10px 0;
}
thead{
    position: sticky;
    top: 0;
}